body {
    margin-left: 5%;
    background-color: #afafaf;
}

.about {
text-align: justify;
max-width: 840px;
margin-right: 2%;
}

.logo{
    width: 180px;
    height: 180px;
    float: left;
    margin-left: 10px;
    margin-right: calc(25px);
    object-fit: cover;
    shape-outside: circle(50%);
}