.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 899px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 19px auto 0 379px;
}

.u-section-1 .u-video-1 {
  width: 304px;
  height: 168px;
  animation-duration: 1000ms;
  margin: 30px auto 0 11px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-video-2 {
  width: 319px;
  height: 173px;
  animation-duration: 1000ms;
  margin: -168px auto 0 354px;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-1 .u-video-3 {
  width: 336px;
  height: 167px;
  animation-duration: 1000ms;
  margin: -173px 63px 0 auto;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
}

.u-section-1 .u-video-4 {
  width: 305px;
  height: 189px;
  animation-duration: 1000ms;
  margin: 59px auto 0 16px;
}

.u-section-1 .embed-responsive-4 {
  position: absolute;
}

.u-section-1 .u-video-5 {
  width: 323px;
  height: 184px;
  animation-duration: 1000ms;
  margin: -183px auto 0 354px;
}

.u-section-1 .embed-responsive-5 {
  position: absolute;
}

.u-section-1 .u-video-6 {
  width: 336px;
  height: 180px;
  animation-duration: 1000ms;
  margin: -189px 63px 0 auto;
}

.u-section-1 .embed-responsive-6 {
  position: absolute;
}

.u-section-1 .u-video-7 {
  width: 304px;
  height: 184px;
  animation-duration: 1000ms;
  margin: 65px auto 0 11px;
}

.u-section-1 .embed-responsive-7 {
  position: absolute;
}

.u-section-1 .u-video-8 {
  width: 319px;
  height: 169px;
  animation-duration: 1000ms;
  margin: -169px auto 60px 354px;
}

.u-section-1 .embed-responsive-8 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 313px;
  }

  .u-section-1 .u-video-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 354px;
  }

  .u-section-1 .u-video-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 354px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 180px;
  }

  .u-section-1 .u-video-2 {
    margin-top: 20px;
    margin-left: 11px;
  }

  .u-section-1 .u-video-3 {
    margin-left: 11px;
  }

  .u-section-1 .u-video-5 {
    margin-top: 20px;
    margin-left: 16px;
  }

  .u-section-1 .u-video-6 {
    margin-left: 16px;
  }

  .u-section-1 .u-video-8 {
    margin-top: 20px;
    margin-left: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1785px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 41px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1079px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 19px auto 0 281px;
}

.u-section-2 .u-video-1 {
  width: 304px;
  height: 168px;
  animation-duration: 1000ms;
  margin: 30px auto 0 11px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-video-2 {
  width: 319px;
  height: 173px;
  animation-duration: 1000ms;
  margin: -168px auto 0 354px;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

.u-section-2 .u-video-3 {
  width: 336px;
  height: 167px;
  animation-duration: 1000ms;
  margin: -173px auto 0 742px;
}

.u-section-2 .embed-responsive-3 {
  position: absolute;
}

.u-section-2 .u-video-4 {
  width: 305px;
  height: 189px;
  animation-duration: 1000ms;
  margin: 59px auto 0 16px;
}

.u-section-2 .embed-responsive-4 {
  position: absolute;
}

.u-section-2 .u-video-5 {
  width: 323px;
  height: 184px;
  animation-duration: 1000ms;
  margin: -183px auto 0 354px;
}

.u-section-2 .embed-responsive-5 {
  position: absolute;
}

.u-section-2 .u-video-6 {
  width: 336px;
  height: 180px;
  animation-duration: 1000ms;
  margin: -189px auto 0 742px;
}

.u-section-2 .embed-responsive-6 {
  position: absolute;
}

.u-section-2 .u-video-7 {
  width: 304px;
  height: 184px;
  animation-duration: 1000ms;
  margin: 65px auto 0 11px;
}

.u-section-2 .embed-responsive-7 {
  position: absolute;
}

.u-section-2 .u-video-8 {
  width: 319px;
  height: 182px;
  animation-duration: 1000ms;
  margin: -182px auto 0 354px;
}

.u-section-2 .embed-responsive-8 {
  position: absolute;
}

.u-section-2 .u-video-9 {
  width: 336px;
  height: 180px;
  animation-duration: 1000ms;
  margin: -169px auto 0 742px;
}

.u-section-2 .embed-responsive-9 {
  position: absolute;
}

.u-section-2 .u-video-10 {
  width: 304px;
  height: 184px;
  animation-duration: 1000ms;
  margin: 60px auto 0 11px;
}

.u-section-2 .embed-responsive-10 {
  position: absolute;
}

.u-section-2 .u-video-11 {
  width: 319px;
  height: 184px;
  animation-duration: 1000ms;
  margin: -184px auto 0 354px;
}

.u-section-2 .embed-responsive-11 {
  position: absolute;
}

.u-section-2 .u-video-12 {
  width: 336px;
  height: 180px;
  animation-duration: 1000ms;
  margin: -169px auto 57px 742px;
}

.u-section-2 .embed-responsive-12 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-video-3 {
    margin-top: 20px;
    margin-left: 354px;
  }

  .u-section-2 .u-video-6 {
    margin-top: 20px;
    margin-left: 354px;
  }

  .u-section-2 .u-video-9 {
    margin-top: 20px;
    margin-left: 354px;
  }

  .u-section-2 .u-video-12 {
    margin-top: 20px;
    margin-left: 354px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 215px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 161px;
  }

  .u-section-2 .u-video-2 {
    margin-top: 20px;
    margin-left: 11px;
  }

  .u-section-2 .u-video-3 {
    margin-left: 11px;
  }

  .u-section-2 .u-video-5 {
    margin-top: 20px;
    margin-left: 16px;
  }

  .u-section-2 .u-video-6 {
    margin-left: 16px;
  }

  .u-section-2 .u-video-8 {
    margin-top: 20px;
    margin-left: 11px;
  }

  .u-section-2 .u-video-9 {
    margin-left: 221px;
  }

  .u-section-2 .u-video-11 {
    margin-top: 20px;
    margin-left: 11px;
  }

  .u-section-2 .u-video-12 {
    margin-left: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 28px;
  }

  .u-section-2 .u-video-9 {
    margin-left: 21px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 696px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 19px 202px 0 354px;
}

.u-section-3 .u-video-1 {
  width: 304px;
  height: 168px;
  animation-duration: 1000ms;
  margin: 30px auto 0 11px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-video-2 {
  width: 319px;
  height: 173px;
  animation-duration: 1000ms;
  margin: -168px auto 0 354px;
}

.u-section-3 .embed-responsive-2 {
  position: absolute;
}

.u-section-3 .u-video-3 {
  width: 336px;
  height: 167px;
  animation-duration: 1000ms;
  margin: -173px auto 0 742px;
}

.u-section-3 .embed-responsive-3 {
  position: absolute;
}

.u-section-3 .u-video-4 {
  width: 305px;
  height: 189px;
  animation-duration: 1000ms;
  margin: 59px auto 0 16px;
}

.u-section-3 .embed-responsive-4 {
  position: absolute;
}

.u-section-3 .u-video-5 {
  width: 323px;
  height: 184px;
  animation-duration: 1000ms;
  margin: -183px auto 60px 354px;
}

.u-section-3 .embed-responsive-5 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 102px;
    margin-left: 281px;
  }

  .u-section-3 .u-video-3 {
    margin-top: 20px;
    margin-left: 354px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 215px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 161px;
  }

  .u-section-3 .u-video-2 {
    margin-top: 20px;
    margin-left: 11px;
  }

  .u-section-3 .u-video-3 {
    margin-left: 11px;
  }

  .u-section-3 .u-video-5 {
    margin-top: 20px;
    margin-left: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 28px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 304px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  margin: 60px 90px 60px 29px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 700px;
    height: 39px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }
}